<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ pokemon()?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (pokemon(); as pokemon) {

    <ion-card>
      <ion-img [style.height.px]="220" [alt]="pokemon?.name" [src]="pokemon?.sprites?.other?.dream_world?.front_default" />
      <ion-card-content class="card__header">
        <h2 class="color-white">{{ pokemon.name }}
          <ion-icon [name]="isFavorite(pokemon.id) ? 'heart' : 'heart-outline'" 
          (click)="AlertConfirmFavorite(pokemon); $event.stopPropagation()"></ion-icon>
        </h2>
        <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" *ngFor="let type of pokemon.types">{{type.type.name}}</span>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="card__info">
        <ion-card-title>About</ion-card-title>
        <ion-card-subtitle>Height: {{ pokemon.height }}</ion-card-subtitle>
        <ion-card-subtitle>Weight: {{ pokemon.weight }}</ion-card-subtitle>
        <ion-card-subtitle>Abilities: {{getAbilities()}}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header class="card__info">
        <ion-card-title>Base Stats</ion-card-title>

        <ion-card-subtitle class="card__basestats">
          <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" 
                [style.width]="getStatByName('hp') + '%'">
            HP: {{getStatByName('hp')}}
          </span>
        </ion-card-subtitle>

        <ion-card-subtitle class="card__basestats">
          <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" 
                [style.width]="getStatByName('attack') + '%'">
            Attack: {{ getStatByName('attack') }}
          </span>
        </ion-card-subtitle>
        
        <ion-card-subtitle class="card__basestats">
          <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" 
                [style.width]="getStatByName('defense') + '%'">
            Defense: {{ getStatByName('defense') }}
          </span>
        </ion-card-subtitle>

        <ion-card-subtitle class="card__basestats">
          <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" 
                [style.width]="getStatByName('special-attack') + '%'">
            Sp. Attack: {{ getStatByName('special-attack') }}
          </span>
        </ion-card-subtitle>

        <ion-card-subtitle class="card__basestats">
          <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" 
                [style.width]="getStatByName('special-defense') + '%'">
            Sp. Defense: {{ getStatByName('special-defense') }}
          </span>
        </ion-card-subtitle>

        <ion-card-subtitle class="card__basestats">
          <span class="color-white {{'bg-color-' + getPrincipalType(pokemon.types)}}" 
                [style.width]="getStatByName('speed') + '%'">
            Speed: {{ getStatByName('speed') }}
          </span>
        </ion-card-subtitle>

      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header class="card__info">
        <ion-card-title>Cries</ion-card-title>

        <ion-card-subtitle class="card__cries">
          <p>Crie Legacy</p>
          <ion-icon class="play-icon" name="play-circle-outline" (click)="playCry(pokemon.cries.legacy)"></ion-icon>
        </ion-card-subtitle>

        <ion-card-subtitle class="card__cries">
          <p>Crie Latest</p>
          <ion-icon class="play-icon" name="play-circle-outline" (click)="playCry(pokemon.cries.latest)"></ion-icon>
        </ion-card-subtitle>

      </ion-card-header>
    </ion-card>
    
  } 
</ion-content>