.input{
    font-weight: 300;
    color: black;
}ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
    ion-input{
        font-size: 0.9em;
        color: black;
        font-weight: 400;
    }
    ion-icon{
        color: gray;
    }
}
.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;

    .subtitle{
        color: gray;
        font-size: 0.9rem;
    }
    .title{
        font-size: 2rem;
    }
}

.button__send{
    display: flex;
    justify-content: center;
    border-radius: 40%;
    margin-top: 10px;
    ion-button {
        font-size: 1.2rem;
      --background: #ffcc00;
      --background-activated: #ffaa00;
      --background-focused: #ffbb00;
    }
}